<%- include('./layout/layout-start', {title: "Войти"}) %>

<div class="container d-flex justify-content-center flex-column mt-5">
  <h3>Регистрация</h3>
  <form action="/api/user/signup" method="post">
    <div>
      <label>Логин:</label>
      <input type="text" name="username" />
      <br />
    </div>
    <div class="mt-2">
      <label>Пароль:</label>
      <input name="password" />
    </div>
    <div class="mt-2">
      <label>Имя:</label>
      <input name="displayName" />
    </div>
    <div class="mt-2">
      <label>Email:</label>
      <input name="email" />
    </div>
    <div class="mt-2">
      <input type="submit" value="Войти" />
    </div>
  </form>
</div>


<%- include('./layout/layout-end') %>